*.cache/
*.clang-format
*build/
*cmake-build-*/
*CMakeFiles/
*CMakeCache.txt
*cmake_install.cmake
*Makefile
*.cmake
*CTestTestfile.cmake
*Testing/
*install_manifest.txt
*compile_commands.json

.idea/
*.iml
*.ipr
*.iws
*modules.xml

*.vscode/
*.vscode/settings.json
*.vscode/tasks.json
*.vscode/launch.json

*__pycache__/
*.py[cod]
*.pyd
*.pyo

*env/
*venv/
*.venv/
*.python-version
*pip-selfcheck.json

*.log
*.pytest_cache/
*.coverage
